<div class="container">
  <div class="content">
    <h1><%= @task.title %></h1>
    <p>Created <%= @task.created_at.strftime("%d-%m-%y") %></p>
<p><%= @task.details %></p>
<p>Completed? <%= @task.completed %></p>

<%= link_to "Edit this task", edit_task_path%>
<%= link_to "Delete this task", task_path, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back to list", tasks_path %>
  </div>
</div>
